boto3==1.34.4 ; python_version >= "3.9" and python_version < "3.11"
botocore==1.34.4 ; python_version >= "3.9" and python_version < "3.11"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "3.11"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.11" and platform_system == "Windows"
efficientnet-pytorch==0.7.1 ; python_version >= "3.9" and python_version < "3.11"
enum-compat==0.0.3 ; python_version >= "3.9" and python_version < "3.11"
filelock==3.13.1 ; python_version >= "3.9" and python_version < "3.11"
fsspec==2023.12.2 ; python_version >= "3.9" and python_version < "3.11"
huggingface-hub==0.20.1 ; python_version >= "3.9" and python_version < "3.11"
idna==3.6 ; python_version >= "3.9" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "3.11"
markupsafe==2.1.3 ; python_version >= "3.9" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
munch==4.0.0 ; python_version >= "3.9" and python_version < "3.11"
networkx==3.2.1 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "3.11"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.11"
pillow==10.1.0 ; python_version >= "3.9" and python_version < "3.11"
pretrainedmodels==0.7.4 ; python_version >= "3.9" and python_version < "3.11"
psutil==5.9.7 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.11"
s3transfer==0.9.0 ; python_version >= "3.9" and python_version < "3.11"
safetensors==0.4.1 ; python_version >= "3.9" and python_version < "3.11"
segmentation-models-pytorch==0.3.3 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.9" and python_version < "3.11"
timm==0.9.2 ; python_version >= "3.9" and python_version < "3.11"
torch-model-archiver==0.7.1 ; python_version >= "3.9" and python_version < "3.11"
torch==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
torchserve==0.8.0 ; python_version >= "3.9" and python_version < "3.11"
torchvision==0.15.2 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.66.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.9.0 ; python_version >= "3.9" and python_version < "3.11"
urllib3==1.26.18 ; python_version >= "3.9" and python_version < "3.11"
wheel==0.42.0 ; python_version >= "3.9" and python_version < "3.11"
