certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "3.11"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.11" and platform_system == "Windows"
efficientnet-pytorch==0.7.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
filelock==3.12.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
fsspec==2023.4.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
huggingface-hub==0.14.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "3.11"
munch==2.5.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
numpy==1.23.5 ; python_full_version >= "3.8.1" and python_version < "3.11"
packaging==23.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
pillow==9.5.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
pretrainedmodels==0.7.4 ; python_full_version >= "3.8.1" and python_version < "3.11"
pyyaml==6.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
segmentation-models-pytorch==0.3.2 ; python_full_version >= "3.8.1" and python_version < "3.11"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
timm==0.6.12 ; python_full_version >= "3.8.1" and python_version < "3.11"
torch==2.0.1+cu117 ; python_full_version >= "3.8.1" and python_version < "3.11"
torchvision==0.15.2 ; python_full_version >= "3.8.1" and python_version < "3.11"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
urllib3==1.26.15 ; python_full_version >= "3.8.1" and python_version < "3.11"
